/* CSS Reset */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Elementos por defecto a considerar */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* Elementos estructurales de HTML5 como bloques */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

/* Lista sin estilos */
ol,
ul {
  list-style: none;
}

/* Citas y bloques de cita sin estilos */
blockquote,
q {
  quotes: none;
}

blockquote::before,
blockquote::after,
q::before,
q::after {
  content: "";
  content: none;
}

/* Tablas con espaciado mínimo */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Estilos generales */
body {
  background: #ffc2e2;
  line-height: 1;
}

/* Tipografía y colores generales */
body,
* {
  font-family: "Inter";
  color: black;
  font-weight: 600;
}

/* Estilos del encabezado */
.logo {
  padding-top: 10px;
  margin-left: 10px;
  width: 32px;
}

/* Estilos del contenido principal */
main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1rem;
}

main section {
  width: 100%;
}

/* Estilos para la primera sección */
textarea {
  background-color: inherit;
  border: none;
  font-size: 2rem;
  outline: none;
}

textarea::placeholder {
  color: black;
}

small {
  margin-left: 5px;
}

/* Estilos para los botones */
button {
  font-size: 1.5rem;
  color: #fff;
  background-color: #150578;
  width: 100%;
  border-radius: 24px;
  cursor: pointer;
  border: none;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-top: 1rem;
  transition: all 0.3s ease;
}

button:hover {
  color: #150578;
  background-color: #fff;
}

/* Estilos para la sección de cifrado de mensajes */
.messageEncryption {
  background-color: #ffffff;
  box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
  border-radius: 32px;
  width: 100%;
  height: 100%;
  padding: 3rem 1rem;
  text-align: center;
  margin-top: 2rem;
  box-sizing: border-box;
}

.messageEncryption h4 {
  font-size: 1.8rem;
}

.messageEncryption p {
  font-weight: 100;
  margin-top: 1rem;
}

/* Estilos para tamaños de pantalla grandes (1024px y superiores) */
@media screen and (min-width: 1024px) {
  main {
    flex-direction: row;
    justify-content: space-evenly;
  }

  button {
    width: 45%;
  }

  main section {
    width: 50%;
  }
}

/* Estilos para el mensaje de éxito */
#success {
  font-size: 1.8rem;
}

/* Contenedor principal */
.contenedor {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
}

/* Animación de la imagen */
@keyframes animacion-imagen {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-20px);
  }

  100% {
    transform: translateY(0);
  }
}

/* Estilos para las imágenes */
img {
  animation: animacion-imagen 2s infinite;
}